*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
    padding-right: 1.8rem;
    padding-left: 1.8rem;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding-right: 12.5rem;
    padding-left: 12.5rem;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.pointer-events-none {
  pointer-events: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  inset: 0px;
}

.inset-x-0 {
  left: 0px;
  right: 0px;
}

.-bottom-16 {
  bottom: -4rem;
}

.-bottom-20 {
  bottom: -5rem;
}

.-top-2 {
  top: -0.5rem;
}

.-top-3 {
  top: -0.75rem;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-16 {
  bottom: 4rem;
}

.bottom-5 {
  bottom: 1.25rem;
}

.bottom-\[13\%\] {
  bottom: 13%;
}

.left-0 {
  left: 0px;
}

.left-1\/2 {
  left: 50%;
}

.left-10 {
  left: 2.5rem;
}

.left-2 {
  left: 0.5rem;
}

.left-20 {
  left: 5rem;
}

.left-4 {
  left: 1rem;
}

.left-\[-80px\] {
  left: -80px;
}

.left-\[30\%\] {
  left: 30%;
}

.left-\[30px\] {
  left: 30px;
}

.left-\[40\%\] {
  left: 40%;
}

.right-0 {
  right: 0px;
}

.right-\[-20px\] {
  right: -20px;
}

.right-\[-8px\] {
  right: -8px;
}

.right-\[50\%\] {
  right: 50%;
}

.top-0 {
  top: 0px;
}

.top-1\/2 {
  top: 50%;
}

.top-4 {
  top: 1rem;
}

.top-9 {
  top: 2.25rem;
}

.top-\[-8px\] {
  top: -8px;
}

.top-\[10\%\] {
  top: 10%;
}

.top-\[20px\] {
  top: 20px;
}

.top-\[75\%\] {
  top: 75%;
}

.-z-10 {
  z-index: -10;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-\[1000\] {
  z-index: 1000;
}

.z-\[999\] {
  z-index: 999;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-24 {
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-9 {
  margin-bottom: 2.25rem;
}

.ml-0 {
  margin-left: 0px;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-\[22px\] {
  margin-left: 22px;
}

.mr-1 {
  margin-right: 0.25rem;
}

.ms-10 {
  margin-inline-start: 2.5rem;
}

.ms-auto {
  margin-inline-start: auto;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 0.75rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-52 {
  margin-top: 13rem;
}

.mt-7 {
  margin-top: 1.75rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mt-\[50px\] {
  margin-top: 50px;
}

.mt-\[px\] {
  margin-top: px;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.hidden {
  display: none;
}

.size-10 {
  width: 2.5rem;
  height: 2.5rem;
}

.size-16 {
  width: 4rem;
  height: 4rem;
}

.size-4 {
  width: 1rem;
  height: 1rem;
}

.size-6 {
  width: 1.5rem;
  height: 1.5rem;
}

.size-\[20px\] {
  width: 20px;
  height: 20px;
}

.size-\[30\%\] {
  width: 30%;
  height: 30%;
}

.size-\[40\%\] {
  width: 40%;
  height: 40%;
}

.size-\[40px\] {
  width: 40px;
  height: 40px;
}

.size-\[50\%\] {
  width: 50%;
  height: 50%;
}

.size-\[55px\] {
  width: 55px;
  height: 55px;
}

.size-full {
  width: 100%;
  height: 100%;
}

.h-10 {
  height: 2.5rem;
}

.h-3 {
  height: 0.75rem;
}

.h-6 {
  height: 1.5rem;
}

.h-8 {
  height: 2rem;
}

.h-\[0\.5px\] {
  height: 0.5px;
}

.h-\[104px\] {
  height: 104px;
}

.h-\[200px\] {
  height: 200px;
}

.h-\[219\.99px\] {
  height: 219.99px;
}

.h-\[21px\] {
  height: 21px;
}

.h-\[22px\] {
  height: 22px;
}

.h-\[24px\] {
  height: 24px;
}

.h-\[25px\] {
  height: 25px;
}

.h-\[27\.17px\] {
  height: 27.17px;
}

.h-\[275\.82px\] {
  height: 275.82px;
}

.h-\[27px\] {
  height: 27px;
}

.h-\[297px\] {
  height: 297px;
}

.h-\[2px\] {
  height: 2px;
}

.h-\[309px\] {
  height: 309px;
}

.h-\[30px\] {
  height: 30px;
}

.h-\[31px\] {
  height: 31px;
}

.h-\[327\.51px\] {
  height: 327.51px;
}

.h-\[32px\] {
  height: 32px;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[36\.39px\] {
  height: 36.39px;
}

.h-\[406px\] {
  height: 406px;
}

.h-\[41px\] {
  height: 41px;
}

.h-\[42\.97px\] {
  height: 42.97px;
}

.h-\[420px\] {
  height: 420px;
}

.h-\[450px\] {
  height: 450px;
}

.h-\[469px\] {
  height: 469px;
}

.h-\[48px\] {
  height: 48px;
}

.h-\[49px\] {
  height: 49px;
}

.h-\[500px\] {
  height: 500px;
}

.h-\[58\.24px\] {
  height: 58.24px;
}

.h-\[59\.94px\] {
  height: 59.94px;
}

.h-\[600px\] {
  height: 600px;
}

.h-\[65px\] {
  height: 65px;
}

.h-\[77\.32px\] {
  height: 77.32px;
}

.h-\[80px\] {
  height: 80px;
}

.h-\[8px\] {
  height: 8px;
}

.h-full {
  height: 100%;
}

.h-px {
  height: 1px;
}

.h-screen {
  height: 100vh;
}

.max-h-\[27px\] {
  max-height: 27px;
}

.w-1\/2 {
  width: 50%;
}

.w-10 {
  width: 2.5rem;
}

.w-4 {
  width: 1rem;
}

.w-8 {
  width: 2rem;
}

.w-\[100\%\] {
  width: 100%;
}

.w-\[106px\] {
  width: 106px;
}

.w-\[10px\] {
  width: 10px;
}

.w-\[112px\] {
  width: 112px;
}

.w-\[119px\] {
  width: 119px;
}

.w-\[120px\] {
  width: 120px;
}

.w-\[129px\] {
  width: 129px;
}

.w-\[157px\] {
  width: 157px;
}

.w-\[175\.49px\] {
  width: 175.49px;
}

.w-\[175px\] {
  width: 175px;
}

.w-\[196px\] {
  width: 196px;
}

.w-\[2000px\] {
  width: 2000px;
}

.w-\[200px\] {
  width: 200px;
}

.w-\[206px\] {
  width: 206px;
}

.w-\[225\.57px\] {
  width: 225.57px;
}

.w-\[227px\] {
  width: 227px;
}

.w-\[250px\] {
  width: 250px;
}

.w-\[254px\] {
  width: 254px;
}

.w-\[260px\] {
  width: 260px;
}

.w-\[267px\] {
  width: 267px;
}

.w-\[297px\] {
  width: 297px;
}

.w-\[299px\] {
  width: 299px;
}

.w-\[300px\] {
  width: 300px;
}

.w-\[311px\] {
  width: 311px;
}

.w-\[318px\] {
  width: 318px;
}

.w-\[327px\] {
  width: 327px;
}

.w-\[332px\] {
  width: 332px;
}

.w-\[353px\] {
  width: 353px;
}

.w-\[35px\] {
  width: 35px;
}

.w-\[36px\] {
  width: 36px;
}

.w-\[38px\] {
  width: 38px;
}

.w-\[41\.44px\] {
  width: 41.44px;
}

.w-\[42px\] {
  width: 42px;
}

.w-\[44px\] {
  width: 44px;
}

.w-\[45px\] {
  width: 45px;
}

.w-\[49px\] {
  width: 49px;
}

.w-\[51px\] {
  width: 51px;
}

.w-\[55px\] {
  width: 55px;
}

.w-\[58px\] {
  width: 58px;
}

.w-\[63px\] {
  width: 63px;
}

.w-\[67px\] {
  width: 67px;
}

.w-\[72\.24px\] {
  width: 72.24px;
}

.w-\[89px\] {
  width: 89px;
}

.w-fit {
  width: -moz-fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.w-3\/4 {
  width: 75%;
}

.w-1\/4 {
  width: 25%;
}

.min-w-\[300px\] {
  min-width: 300px;
}

.max-w-\[143px\] {
  max-width: 143px;
}

.max-w-\[264px\] {
  max-width: 264px;
}

.max-w-\[300px\] {
  max-width: 300px;
}

.max-w-\[39px\] {
  max-width: 39px;
}

.max-w-\[54px\] {
  max-width: 54px;
}

.max-w-\[61px\] {
  max-width: 61px;
}

.max-w-\[887\.93px\] {
  max-width: 887.93px;
}

.max-w-\[95px\] {
  max-width: 95px;
}

.max-w-\[96px\] {
  max-width: 96px;
}

.flex-1 {
  flex: 1 1 0%;
}

.shrink-0 {
  flex-shrink: 0;
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-x-full {
  --tw-translate-x: 100%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[-90deg\] {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[10deg\] {
  --tw-rotate: 10deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[30deg\] {
  --tw-rotate: 30deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes marquee-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-marquee-left {
  animation: marquee-left 15s linear infinite;
}

.cursor-pointer {
  cursor: pointer;
}

.touch-auto {
  touch-action: auto;
}

.snap-x {
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.snap-mandatory {
  --tw-scroll-snap-strictness: mandatory;
}

.snap-start {
  scroll-snap-align: start;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-1 {
  gap: 0.25rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-\[14px\] {
  gap: 14px;
}

.gap-\[16px\] {
  gap: 16px;
}

.gap-\[20px\] {
  gap: 20px;
}

.gap-\[6px\] {
  gap: 6px;
}

.gap-x-8 {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}

.gap-y-5 {
  row-gap: 1.25rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-\[12px\] {
  border-radius: 12px;
}

.rounded-\[16px\] {
  border-radius: 16px;
}

.rounded-\[40px\] {
  border-radius: 40px;
}

.rounded-\[60px\] {
  border-radius: 60px;
}

.rounded-\[66px\] {
  border-radius: 66px;
}

.rounded-full {
  border-radius: 9999px;
}

.rounded-md {
  border-radius: 0.375rem;
}

.rounded-sm {
  border-radius: 0.125rem;
}

.rounded-bl-\[1px\] {
  border-bottom-left-radius: 1px;
}

.rounded-br-\[1px\] {
  border-bottom-right-radius: 1px;
}

.rounded-tl-\[153\.75px\] {
  border-top-left-radius: 153.75px;
}

.rounded-tl-\[1px\] {
  border-top-left-radius: 1px;
}

.rounded-tl-\[210px\] {
  border-top-left-radius: 210px;
}

.rounded-tl-\[39\.56px\] {
  border-top-left-radius: 39.56px;
}

.rounded-tr-\[153\.75px\] {
  border-top-right-radius: 153.75px;
}

.rounded-tr-\[1px\] {
  border-top-right-radius: 1px;
}

.rounded-tr-\[210px\] {
  border-top-right-radius: 210px;
}

.rounded-tr-\[39\.56px\] {
  border-top-right-radius: 39.56px;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-\[\#1E3231\] {
  --tw-border-opacity: 1;
  border-color: rgb(30 50 49 / var(--tw-border-opacity, 1));
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity, 1));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.border-white {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}

.bg-\[\#1E3231\] {
  --tw-bg-opacity: 1;
  background-color: rgb(30 50 49 / var(--tw-bg-opacity, 1));
}

.bg-\[\#3E1F043D\] {
  background-color: #3E1F043D;
}

.bg-\[\#CE94611F\] {
  background-color: #CE94611F;
}

.bg-\[\#F0E5D3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(240 229 211 / var(--tw-bg-opacity, 1));
}

.bg-\[\#F3F3F3\] {
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 243 / var(--tw-bg-opacity, 1));
}

.bg-\[\#FFFFFF26\] {
  background-color: #FFFFFF26;
}

.bg-\[\#a96e42\] {
  --tw-bg-opacity: 1;
  background-color: rgb(169 110 66 / var(--tw-bg-opacity, 1));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity, 1));
}

.bg-mainColor {
  --tw-bg-opacity: 1;
  background-color: rgb(206 148 97 / var(--tw-bg-opacity, 1));
}

.bg-secondColor {
  --tw-bg-opacity: 1;
  background-color: rgb(30 50 49 / var(--tw-bg-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-opacity-10 {
  --tw-bg-opacity: 0.1;
}

.bg-opacity-20 {
  --tw-bg-opacity: 0.2;
}

.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.p-1 {
  padding: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.p-6 {
  padding: 1.5rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[41px\] {
  padding-top: 41px;
  padding-bottom: 41px;
}

.py-\[50px\] {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-\[70px\] {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pb-10 {
  padding-bottom: 2.5rem;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pb-\[2px\] {
  padding-bottom: 2px;
}

.pr-2 {
  padding-right: 0.5rem;
}

.ps-10 {
  padding-inline-start: 2.5rem;
}

.pt-10 {
  padding-top: 2.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.pt-6 {
  padding-top: 1.5rem;
}

.pt-\[32px\] {
  padding-top: 32px;
}

.pt-\[3px\] {
  padding-top: 3px;
}

.pt-\[48px\] {
  padding-top: 48px;
}

.pt-4 {
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-start {
  text-align: start;
}

.align-middle {
  vertical-align: middle;
}

.font-\[Harmattan\] {
  font-family: Harmattan;
}

.font-baloo {
  font-family: Baloo Bhaijaan 2, sans-serif;
}

.font-harmattan {
  font-family: Harmattan, sans-serif;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[14px\] {
  font-size: 14px;
}

.text-\[16px\] {
  font-size: 16px;
}

.text-\[18px\] {
  font-size: 18px;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-\[24px\] {
  font-size: 24px;
}

.text-\[28px\] {
  font-size: 28px;
}

.text-\[32px\] {
  font-size: 32px;
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.leading-5 {
  line-height: 1.25rem;
}

.leading-\[18px\] {
  line-height: 18px;
}

.leading-\[19px\] {
  line-height: 19px;
}

.leading-\[20px\] {
  line-height: 20px;
}

.leading-\[22px\] {
  line-height: 22px;
}

.leading-\[24px\] {
  line-height: 24px;
}

.leading-\[25px\] {
  line-height: 25px;
}

.leading-\[28px\] {
  line-height: 28px;
}

.leading-\[29px\] {
  line-height: 29px;
}

.leading-\[30\.3px\] {
  line-height: 30.3px;
}

.leading-\[30\.8px\] {
  line-height: 30.8px;
}

.leading-\[32px\] {
  line-height: 32px;
}

.leading-\[35px\] {
  line-height: 35px;
}

.leading-\[39\.8px\] {
  line-height: 39.8px;
}

.leading-\[40px\] {
  line-height: 40px;
}

.leading-\[42px\] {
  line-height: 42px;
}

.leading-\[48px\] {
  line-height: 48px;
}

.leading-\[52px\] {
  line-height: 52px;
}

.leading-\[55\.52px\] {
  line-height: 55.52px;
}

.leading-\[72px\] {
  line-height: 72px;
}

.leading-none {
  line-height: 1;
}

.tracking-\[0\%\] {
  letter-spacing: 0%;
}

.tracking-\[0px\] {
  letter-spacing: 0px;
}

.tracking-normal {
  letter-spacing: 0em;
}

.text-\[\#25252580\] {
  color: #25252580;
}

.text-\[\#252525BF\] {
  color: #252525BF;
}

.text-\[\#252525\] {
  --tw-text-opacity: 1;
  color: rgb(37 37 37 / var(--tw-text-opacity, 1));
}

.text-\[\#B70404\] {
  --tw-text-opacity: 1;
  color: rgb(183 4 4 / var(--tw-text-opacity, 1));
}

.text-\[\#FFF5E0\] {
  --tw-text-opacity: 1;
  color: rgb(255 245 224 / var(--tw-text-opacity, 1));
}

.text-\[\#b88e60\] {
  --tw-text-opacity: 1;
  color: rgb(184 142 96 / var(--tw-text-opacity, 1));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-black\/90 {
  color: rgb(0 0 0 / 0.9);
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity, 1));
}

.text-mainColor {
  --tw-text-opacity: 1;
  color: rgb(206 148 97 / var(--tw-text-opacity, 1));
}

.text-secondColor {
  --tw-text-opacity: 1;
  color: rgb(30 50 49 / var(--tw-text-opacity, 1));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.text-yellow-400 {
  --tw-text-opacity: 1;
  color: rgb(250 204 21 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.line-through {
  text-decoration-line: line-through;
}

.opacity-0 {
  opacity: 0;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-100 {
  opacity: 1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-75 {
  opacity: 0.75;
}

.opacity-85 {
  opacity: 0.85;
}

.opacity-90 {
  opacity: 0.9;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.backdrop-blur-\[5\.115942478179932px\] {
  --tw-backdrop-blur: blur(5.115942478179932px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-500 {
  transition-duration: 500ms;
}

.duration-700 {
  transition-duration: 700ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

.hover\:bg-mainColor:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(206 148 97 / var(--tw-bg-opacity, 1));
}

.group:hover .group-hover\:bottom-4 {
  bottom: 1rem;
}

.group:hover .group-hover\:rounded-tl-\[210px\] {
  border-top-left-radius: 210px;
}

.group:hover .group-hover\:rounded-tr-\[210px\] {
  border-top-right-radius: 210px;
}

.group:hover .group-hover\:opacity-0 {
  opacity: 0;
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1;
}

@media (min-width: 640px) {
  .sm\:h-12 {
    height: 3rem;
  }

  .sm\:w-12 {
    width: 3rem;
  }

  .sm\:w-6 {
    width: 1.5rem;
  }
}

@media (min-width: 768px) {
  .md\:-right-8 {
    right: -2rem;
  }

  .md\:bottom-10 {
    bottom: 2.5rem;
  }

  .md\:bottom-64 {
    bottom: 16rem;
  }

  .md\:left-4 {
    left: 1rem;
  }

  .md\:right-\[120px\] {
    right: 120px;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:ml-5 {
    margin-left: 1.25rem;
  }

  .md\:mr-3 {
    margin-right: 0.75rem;
  }

  .md\:ms-0 {
    margin-inline-start: 0px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:size-10 {
    width: 2.5rem;
    height: 2.5rem;
  }

  .md\:size-\[40px\] {
    width: 40px;
    height: 40px;
  }

  .md\:size-\[65px\] {
    width: 65px;
    height: 65px;
  }

  .md\:h-7 {
    height: 1.75rem;
  }

  .md\:h-\[10px\] {
    height: 10px;
  }

  .md\:h-\[112px\] {
    height: 112px;
  }

  .md\:h-\[130px\] {
    height: 130px;
  }

  .md\:h-\[144px\] {
    height: 144px;
  }

  .md\:h-\[168px\] {
    height: 168px;
  }

  .md\:h-\[301px\] {
    height: 301px;
  }

  .md\:h-\[36px\] {
    height: 36px;
  }

  .md\:h-\[385px\] {
    height: 385px;
  }

  .md\:h-\[48px\] {
    height: 48px;
  }

  .md\:h-\[503px\] {
    height: 503px;
  }

  .md\:h-\[520px\] {
    height: 520px;
  }

  .md\:h-\[53px\] {
    height: 53px;
  }

  .md\:h-\[55px\] {
    height: 55px;
  }

  .md\:h-\[58px\] {
    height: 58px;
  }

  .md\:h-\[624px\] {
    height: 624px;
  }

  .md\:h-\[72px\] {
    height: 72px;
  }

  .md\:w-2\/4 {
    width: 50%;
  }

  .md\:w-6 {
    width: 1.5rem;
  }

  .md\:w-\[128px\] {
    width: 128px;
  }

  .md\:w-\[138px\] {
    width: 138px;
  }

  .md\:w-\[160px\] {
    width: 160px;
  }

  .md\:w-\[192px\] {
    width: 192px;
  }

  .md\:w-\[198px\] {
    width: 198px;
  }

  .md\:w-\[199px\] {
    width: 199px;
  }

  .md\:w-\[200px\] {
    width: 200px;
  }

  .md\:w-\[235px\] {
    width: 235px;
  }

  .md\:w-\[273px\] {
    width: 273px;
  }

  .md\:w-\[302px\] {
    width: 302px;
  }

  .md\:w-\[370px\] {
    width: 370px;
  }

  .md\:w-\[384px\] {
    width: 384px;
  }

  .md\:w-\[397px\] {
    width: 397px;
  }

  .md\:w-\[400px\] {
    width: 400px;
  }

  .md\:w-\[45px\] {
    width: 45px;
  }

  .md\:w-\[475px\] {
    width: 475px;
  }

  .md\:w-\[486px\] {
    width: 486px;
  }

  .md\:w-\[52px\] {
    width: 52px;
  }

  .md\:w-\[591px\] {
    width: 591px;
  }

  .md\:w-\[60\%\] {
    width: 60%;
  }

  .md\:w-\[690px\] {
    width: 690px;
  }

  .md\:w-\[734px\] {
    width: 734px;
  }

  .md\:w-\[749px\] {
    width: 749px;
  }

  .md\:w-\[92px\] {
    width: 92px;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-full {
    width: 100%;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:flex-wrap {
    flex-wrap: wrap;
  }

  .md\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .md\:justify-center {
    justify-content: center;
  }

  .md\:justify-between {
    justify-content: space-between;
  }

  .md\:gap-10 {
    gap: 2.5rem;
  }

  .md\:gap-16 {
    gap: 4rem;
  }

  .md\:gap-2 {
    gap: 0.5rem;
  }

  .md\:gap-8 {
    gap: 2rem;
  }

  .md\:overflow-x-hidden {
    overflow-x: hidden;
  }

  .md\:rounded-2xl {
    border-radius: 1rem;
  }

  .md\:rounded-\[32px\] {
    border-radius: 32px;
  }

  .md\:rounded-bl-\[2px\] {
    border-bottom-left-radius: 2px;
  }

  .md\:rounded-bl-none {
    border-bottom-left-radius: 0px;
  }

  .md\:rounded-br-\[2px\] {
    border-bottom-right-radius: 2px;
  }

  .md\:rounded-br-none {
    border-bottom-right-radius: 0px;
  }

  .md\:rounded-tl-\[250px\] {
    border-top-left-radius: 250px;
  }

  .md\:rounded-tl-\[270px\] {
    border-top-left-radius: 270px;
  }

  .md\:rounded-tl-\[2px\] {
    border-top-left-radius: 2px;
  }

  .md\:rounded-tl-\[92px\] {
    border-top-left-radius: 92px;
  }

  .md\:rounded-tr-\[250px\] {
    border-top-right-radius: 250px;
  }

  .md\:rounded-tr-\[270px\] {
    border-top-right-radius: 270px;
  }

  .md\:rounded-tr-\[2px\] {
    border-top-right-radius: 2px;
  }

  .md\:rounded-tr-\[92px\] {
    border-top-right-radius: 92px;
  }

  .md\:p-0 {
    padding: 0px;
  }

  .md\:p-2 {
    padding: 0.5rem;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .md\:py-7 {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }

  .md\:pr-8 {
    padding-right: 2rem;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-\[16px\] {
    font-size: 16px;
  }

  .md\:text-\[18px\] {
    font-size: 18px;
  }

  .md\:text-\[20px\] {
    font-size: 20px;
  }

  .md\:text-\[22px\] {
    font-size: 22px;
  }

  .md\:text-\[23px\] {
    font-size: 23px;
  }

  .md\:text-\[24px\] {
    font-size: 24px;
  }

  .md\:text-\[25px\] {
    font-size: 25px;
  }

  .md\:text-\[26px\] {
    font-size: 26px;
  }

  .md\:text-\[27px\] {
    font-size: 27px;
  }

  .md\:text-\[32px\] {
    font-size: 32px;
  }

  .md\:text-\[48px\] {
    font-size: 48px;
  }

  .md\:text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .md\:leading-\[18px\] {
    line-height: 18px;
  }

  .md\:leading-\[25px\] {
    line-height: 25px;
  }

  .md\:leading-\[27px\] {
    line-height: 27px;
  }

  .md\:leading-\[29px\] {
    line-height: 29px;
  }

  .md\:leading-\[31px\] {
    line-height: 31px;
  }

  .md\:leading-\[35px\] {
    line-height: 35px;
  }

  .md\:leading-\[37px\] {
    line-height: 37px;
  }

  .md\:leading-\[65px\] {
    line-height: 65px;
  }

  .md\:leading-\[72px\] {
    line-height: 72px;
  }

  .md\:leading-\[78px\] {
    line-height: 78px;
  }

  .md\:leading-\[99px\] {
    line-height: 99px;
  }
}

@media (min-width: 1024px) {
  .lg\:bottom-\[85\%\] {
    bottom: 85%;
  }

  .lg\:left-\[10\%\] {
    left: 10%;
  }

  .lg\:right-\[75\%\] {
    right: 75%;
  }

  .lg\:top-\[4\%\] {
    top: 4%;
  }

  .lg\:order-1 {
    order: 1;
  }

  .lg\:order-2 {
    order: 2;
  }

  .lg\:order-3 {
    order: 3;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:h-\[230px\] {
    height: 230px;
  }

  .lg\:h-\[604px\] {
    height: 604px;
  }

  .lg\:w-\[40\%\] {
    width: 40%;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:justify-between {
    justify-content: space-between;
  }

  .lg\:pb-0 {
    padding-bottom: 0px;
  }
}

@media (min-width: 1280px) {
  .xl\:h-lvh {
    height: 100lvh;
  }

  .xl\:flex-row {
    flex-direction: row;
  }

  .xl\:justify-between {
    justify-content: space-between;
  }
}
